@media only screen and (min-width: 500px){
    .main-grid{
        grid-template-columns: repeat(1, 100%);
       }

    footer{
        font-size: 1.2em;
        padding: 1em;
        text-align: center;
        line-height: 2em;
    }
    header{
        text-align: center;
    }
}