@media only screen and (max-width: 710px){
    .main-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
       }

       .main-section{
        grid-column: 1/ span1;
       }

       .main-section:nth-of-type(3){
        grid-column: 1 / span1!important;
        max-width: 100%;
       }


       .main-section img{
        max-width: 90%;
        height: auto;
       }

    footer{
        font-size: 1.2em;
        padding: 1em;
        text-align: center;
        line-height: 2em;
    }
    header{
        text-align: center;
    }
    a{
        font-size: 1em;
        margin: 1em;
    }

}