@media only screen and (max-width: 760px){

header h1{font-size: 24px;
    margin-left: 15%;
    margin-top: 15%;
}

header a{
    font-size: 18px;
}

ul{
    flex-direction: column;
}


body header img{
    width: 65px;
    padding: 5%;
    margin-top: 50%;
}

footer p{
    font-size: 14px;
}



main .personas{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 3%;
    padding: 3%;
}

.personas section:nth-last-of-type(1){
    grid-row: 2 / span 1;
}


main .scenarios{
    flex-direction: column;
}

h4{
    margin-top: 10%;
    text-align: center;
}
main .scenarios h3{
    width: 30px;
    height: 30px;
}

main table td{
    font-size: 14px;
    padding: 1%;
}

table h1, table h2{
    font-size: 24px;
}


}