@media only screen and (max-width: 760px){

h1{font-size: 24px;
    margin-left: 15%;
}

header a{
    font-size: 18px;
}

ul{
    flex-direction: column;
}

header nav{
    margin-right: 110%;
}

body header img{
    width: 65px;
    padding: 5%;
}

footer p{
    font-size: 14px;
}



main .personas{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 3%;
    padding: 3%;
}

.personas section:nth-last-of-type(1){
    border: solid 3px red;
    grid-row: 2 / span 1;
}
}