@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Open+Sans:wght@300;500;700&display=swap');

:root{
    --main-color: #15294C;
    --second-color: #702513;
    --third-color: #e7effa;
    --header-font: 'Lora', serif;
    --paragraph-font: 'Open Sans', sans-serif;
}


/*This is for the navigation */

header{
    display: grid;
    grid-template-columns: 10% repeat(2, 1fr);
    background-color: var(--third-color);
    color: var(--main-color);
    font-family: var(--header-font);
}

ul{
    display: flex;
    gap: 10%;
    font-size: 24px;
    list-style: none;
    justify-content: center;
    font-family: var(--header-font);
}

li a{
    text-decoration: none;
    color: var(--main-color);
}

a:hover{
    font-weight: 500;
    font-size: 28px;
    color: var(--second-color);
    text-decoration: underline;
}

header img{
    width: 70px;
    margin: 5%;
}

h1{
    margin-top: 2%;
    font-size: 38px;
}

/* Footer time */
footer{background-color: var(--main-color);
padding: 1%;
text-align: center;
font-size: 18px;}

footer p{
    color: var(--third-color);
}

/* maian section*/

main{
    padding: 2%;
}


h1, h2, h3, h4{
    font-family: var(--header-font);
    color: var(--main-color);
}
h2, h3, h4{
    font-weight: 400;
}

p{
    font-family: var(--paragraph-font);
    color: var(--main-color);
    font-size: 18px;

}

.personas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    
}

.personas section{
 background-color: var(--main-color);
 border-radius: 2%;
 padding: 5%;
}

.personas img{
    width: 70%;
}

.personas p, .personas h3{
    color: white;
}

h2, h4{
    font-size: 32px;
}

h3{
    font-size: 24px;
    color: var(--second-color);
}


.scenarios{
    display: flex;
}

.scenarios h3{
    font-size: 20px;
    background-color: var(--second-color);
    border-radius: 50%;
    color: white;
    width: 150px;
    height: 30px;
    padding: 1%;
}

.scenarios p{
    font-size: 16px;
    margin: 1%;
}


/* Design page table */

  table, td, th {
    border: 1px solid;
    font-size: 24px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  td{
    padding: 1%;
  }

  .header-dp h1{
   color: var(--main-color);
   background-color: var(--third-color);
   padding: 5%;
  }

  tr a{
    color: var(--main-color);
    background-color: var(--third-color);
    padding: 2%;
    font-size: 24px;
  }

.footer-dp p{
color: var(--third-color);
background-color: var(--main-color);
padding: 5%;
font-size: 18px;
}


/* colors sectiion */

.colors{
    display: flex;
    gap: 10%;
    align-items: center;
}

.colors p{
    color: white;
    width: 100px;
    height: 100px;
    padding: 1%;
}

.colors:nth-of-type(1) p{
    background-color: var(--main-color);
}

.colors:nth-of-type(2) p{
    background-color: var(--second-color);
}

.colors:nth-of-type(3) p{
    background-color: var(--third-color);
    color: var(--main-color);
}
