@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Open+Sans:wght@300;500;700&display=swap');

:root{
    --main-color: #15294C;
    --second-color: #702513;
    --third-color: #e7effa;
    --header-font: 'Lora', serif;
    --paragraph-font: 'Open Sans', sans-serif;
}


/*header and navigation code*/



header{
    background-color: var(--third-color);
    display: grid;
    grid-template-columns: 1fr 40% 1fr 1fr ;
    align-items: center;
    margin-bottom: 3em;
}
header p{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;

}
nav{
    display: grid;  
}
nav button{
    background-color: transparent;
    border-radius: 0;
    color: var(--main-color);
    font-size: 2rem;
    border-color: rgb(187, 187, 187);
    width: 2em;

}

nav span{
    font-size: 1em;
}

nav ul{
    list-style-type: none;
    display: none;
    background-color: var(--main-color);
    color: white;
}

nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 5%;
    border-top: 1px solid rgb(178, 178, 178);
}

nav ul li a:hover{
    background-color: white;
    color: var(--main-color);
    text-transform: uppercase;
}

nav ul.open{
    display: block;
    padding-right: 20%;
    
} 


header img{
    width: 40%;

}

h1{
    font-size: 20px;
   
}




.date{grid-column: 1 / span 5;
    grid-row: 3 / span 1;
    text-align: center;
    font-family: var(--paragraph-font);}

.banner{
    grid-column: 1 / span 5;
    background-color: var(--second-color);
    color: var(--third-color);
    margin: 1em;
    padding: 1em;
}

#meeting{
    color: white;
    text-align: center;
    grid-column: 1 / span 5;
    grid-row: 4 / span 1;
}

#hamburgerBtn span:nth-child(1){display: block;}
#hamburgerBtn span:nth-child(2){display: none;}

#hamburgerBtn.open span:nth-child(1){display: none;}
#hamburgerBtn.open span:nth-child(2){display: block;}

/* set fonts*/
h1, h2, h3, h4{
    font-family: var(--header-font);
}
p, a{
    font-family: var(--paragraph-font);
}


/* Here is the code for the main section */

main{
    display: flex;
    flex-direction: column;
    grid-gap: 3em;
}

main div p{
    color: var(--main-color);
    font-size: 14px;
}


.join{
    display: none;}



/*call to action section*/

.cta{
    position: relative;
}
.cta img{
    width: 100%;
}

.cta h2{
    position: absolute;
    font-size: 32px;
    margin-left: 1%;
}

.cta button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 3%;
    font-family: var(--paragraph-font);
    font-size: 20px;
    border-radius: 15px;
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: auto;

}

.cta button:hover{
    background-color: var(--second-color);
    text-decoration: underline;
}


/* event section*/

.event{
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.event h2, .event p{
    text-align: center;
}

.event a{
    color: var(--second-color);
    display: block;
    text-align: center;
}

.event h3{
    text-align: center;
    color: var(--second-color);
}

.event img{
    width: 8rem;
    animation: spin 20s linear infinite;
}
 
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
/*weather section*/
.weather{
padding: 2rem;
background-color: var(--third-color);
}

.weather img{
    width: 9rem;
}

.weather h2{
    text-align: center;
}

.innerweather{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.innerweather h3{
    font-size: 28px;
    color: var(--second-color);
}

.weather p{
    text-align: right;
    font-size: 22px;
    border-bottom: solid 2px var(--main-color);
    padding: 1rem;
    margin: 1em;
}

.weather ul{
    list-style-type: none;
    font-size: 18px;
}

.weatherbottom{
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.weatherbottom p{
    border-bottom: none;
    font-size: 18px;
}

/*news release section*/

.news{
    background-color: var(--third-color);
    padding: 2rem;
}

.news p, .news h2{
    text-align: center;
}

/*spotlight section*/

.spotlight{
    background-color: var(--main-color);
    padding: 1rem;
}
.spotlight1, .spotlight2, .spotlight3{
    padding: 1rem;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotlight img{
    width: 15rem;
    display: flex;
}

.spotlight h2{
    text-align: center;
}

.spotlight h3, .spotlight p{
    text-align: center;
}
.spotlight h3{
    border-bottom: solid 2px var(--main-color);
    padding-bottom: 1rem;
}

.spotlight3{
    display: none;
}

/* Here is the footer*/

footer{
    text-align: center;
    background-color: var(--main-color);
    color: white;
    padding: 5%;
    margin-top: 3em;
}

footer .logo{
width: 30%;
}

footer h3{
    text-align: left;
    font-size: 20px;
}

footer .very-bottom{
    border-top: 1px solid white;
    font-size: 12px;
}
footer .very-bottom p:nth-child(2){
    font-weight: 700;
}


/*All images settings*/
img{
    filter: blur(0em);
  transition: filter 3s;
}


img[data-src] {
    filter: blur(0.2em);
  }


  /*DISCOVER PAGE*/

  .discoverimg img{
    border-radius: 5px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .discoverimg img:hover{
    filter:saturate(20%);
    border-radius: 50px;}

.discoverimg p{
    padding: 1em;
    font-size: 16px;
    text-align: center;
}

.discoverimg{
    background-color: var(--third-color);
    padding: 1em;
    border-radius: 15px;
    margin: 1em;
    
}

 

   .infographics{
        background-color: var(--third-color);
        color: var(--main-color);
        padding: 1em;
        text-align: center;
        margin: 0 1em;
        border-radius: 15px;
   }

   .infographics h2{
    color: var(--second-color);
    padding: 1em;
    font-size: 2em;
   }

   .infographics h3{
    font-size:1.5em;
   }

   .infodiscover{
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
   }

   .visit{
    background-color: var(--second-color);
    text-align: center;
    color: var(--third-color);
    grid-column: 1 / span 3;
    padding: 1rem;
    margin: 1em;
    border-radius: 15px;
   }

   .infographics img{
    width: 30%;
    margin-bottom: -2em;
   }

/*---------- JOIN PAGE----------*/

/*---------- FORM PAGE----------*/
legend{
    font-family: var(--header-font);
    font-size: 1.5rem;
}
label{
    font-family: var(--paragraph-font);
    display: block;
    margin: 1rem 1rem;

}

form{
    margin: 0 .5rem;
    
}

fieldset{
    border: none;
    border-top: solid 3px var(--main-color);
}

input{
    background-color: var(--third-color);
    border: none;
    padding: .3rem;
    border-radius: 5px;
}

form p{
    font-size: .8rem;
    color: var(--second-color);
}

form input.submitBtn {
    background-color: var(--second-color);
    color: white;
    font-size: 18px;
    font-family: var(--paragraph-font);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
}

.submitBtn:hover{
    background-color: var(--third-color);
    color: var(--second-color);
}

form label input:required{
    border-left: rgb(198, 8, 8) solid 4px;
}

form label input:required:valid{
    border-left: rgb(89, 236, 89) solid 4px;
}


/*----------TABLE JOIN----------*/

.membership{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
table{
    border-collapse: collapse;
    border: 1px solid var(--main-color);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin: 1rem 0;
  }
  
  td, th {
    border: 1px solid var(--main-color);
    padding: 5px 10px;
    font-family: var(--paragraph-font);
    font-size: 10px;
  }
  
 tr:nth-child(1) td{
    background-color: var(--main-color);
    color: white;
    font-weight: 800;
    font-size: 16px;
  }
  
  td {
    text-align: center;
  }

tr:nth-child(2) td:nth-child(1){
background-color: var(--main-color);
}

tr:nth-child(2) td{
    background-color: var(--third-color);
    color: var(--main-color);
    font-weight: 800;
    font-size: 18px;
    font-size: 12px;
}

 table tr td.checkmark{
    color: green;
}
tr:nth-child(2n){
    background-color: var(--third-color);
}

.thanksheader{
    text-align: center;
    color: var(--main-color);
    padding: 1rem;
}

.thanksBtn{
    background-color: var(--second-color);
    color: white;
    font-size: 18px;
    font-family: var(--paragraph-font);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    border: none;
}

.centerBtn{
    display: flex;
    justify-content: center;
}
