@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Open+Sans:wght@300;500;700&display=swap');

:root{
    --main-color: #15294C;
    --second-color: #702513;
    --third-color: #e7effa;
    --header-font: 'Lora', serif;
    --paragraph-font: 'Open Sans', sans-serif;
}


/*header and navigation code*/

header{
    background-color: var(--third-color);
    display: grid;
    grid-template-columns: 1fr 50% 1fr 1fr 1fr;
    align-items: center;
}
header p{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;

}
nav{
    display: grid;
    grid-template-rows: 1fr;  
    margin: 1em;
}
nav button{
    background-color: transparent;
    border-radius: 0;
    color: var(--main-color);
    font-size: 2rem;
    border-color: rgb(187, 187, 187);

}

nav ul{
    list-style-type: none;
    margin-left: -25%;
    display: none;
    background-color: var(--main-color);
    color: white;
}

nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 5%;
    border-top: 1px solid rgb(178, 178, 178);
}

nav ul li a:hover{
    background-color: white;
    color: var(--main-color);
    text-transform: uppercase;
}

nav ul.open{
    display: block;
    padding-right: 20%;
    
} 


a img{
    width: 70%;

}

h1{
    font-size: 20px;
    margin-left: 5%;
}

.logo{
    width: 100%;
}


.date{grid-column: 1 / span 5;
    grid-row: 3 / span 1;
text-align: center;
padding: 1em;
margin: .5em;
background-color: var(--second-color);
color: var(--third-color);
font-family: var(--paragraph-font);}

#hamburgerBtn span:nth-child(1){display: block;}
#hamburgerBtn span:nth-child(2){display: none;}

#hamburgerBtn.open span:nth-child(1){display: none;}
#hamburgerBtn.open span:nth-child(2){display: block;}

/* set fonts*/
h1, h2, h3, h4{
    font-family: var(--header-font);
}
p, a{
    font-family: var(--paragraph-font);
}


/* Here is the code for the main section */

main section{
    height: 100%;
    margin-top: 5%;
}

main .join{display: none;}


/* Here is the footer*/

footer{
    text-align: center;
    background-color: var(--main-color);
    color: white;
    padding: 5%;
}

footer .logo{
display: block;
margin-left: auto;
margin-right: auto;
width: 60%;
}

footer h5{
    font-size: 20px;
    margin-bottom: -2%;
}

footer .very-bottom{
    border-top: 1px solid white;
    font-size: 12px;
}
footer .very-bottom p:nth-child(2){
    font-weight: 700;
}


/*Adding details to the site*/
.ctabutton{
    background-color: var(--main-color);
    color: white;
    font-family: var(--paragraph-font);
    padding: 4%;
    font-size: 22px;
    position: relative;
    margin: 0 0 8% 40%;
    border-radius: 15px;
    font-weight: 700;
    border: none;
}

.ctabutton:hover{
    background-color: var(--second-color);
}
.cta img{
    max-width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.cta h2{
    padding: 5% 5%;
}
h2{
    font-size: 32px;
}
h3{
    color: var(--second-color);
}

main section:nth-of-type(2){
    background-color: var(--third-color);
    padding: 5%;
    text-align: center;
    margin-top: 30%;
}

section h3{
    margin-top: -5%;
    font-size: 20px;
}

main section:nth-of-type(2) a{
    color: var(--second-color);
}

/* Ice cream logo and animation*/
main .creamlogo{
    height: 8rem;
    position: absolute;
    margin: -5% 60% 15% -48%;
    animation: spin 10s linear infinite; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


/*Weather Section*/
.weather{
    padding: 5%;
    background-color: var(--third-color);
    margin: 10%;
}

.innerweather{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10%;
    margin-top: -15%;
}
.weather p{
    display: none;
}
.weather h2{
    text-align: center;
    margin-top: 0;
}

.weather img{
    height: 15rem;
}

.weather h3{
font-size: 38px;
}

.weather ul{
    list-style-type: none;
    font-family: var(--paragraph-font);
    font-size: 24px;
    border-top: solid 2px var(--second-color);
    padding-top: 5%;
    margin-top: 0;
}



/*News release section class News*/

.news{
    text-align: center;
    background-color: var(--third-color);
    padding: 3%;
}

.news p{
    padding: 0 5%;
}


/*Spotlight info class spotlight*/

.spotlight1, .spotlight2{
    background-color: var(--third-color);
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotlight img{
    height: 15rem;
}

.spotlight h3{
    border-bottom: solid 2px var(--main-color);
    padding-bottom: 5%;
    width: 80%;
    text-align: center;
}

.spotlight{
    padding: 5%;
    margin: 5% 0;
    background-color: var(--main-color);
}

.spotlight p{
    margin-top: 0;
}
.spotlight3{
    display: none;
}