@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Open+Sans:wght@300;500;700&display=swap');

:root{
    --main-color: #15294C;
    --second-color: #702513;
    --third-color: #e7effa;
    --header-font: 'Lora', serif;
    --paragraph-font: 'Open Sans', sans-serif;
}


/*header and navigation code*/

header{
    background-color: var(--third-color);
    display: grid;
    grid-template-columns: 1fr 50% 1fr 1fr 1fr;
    align-items: center;
}
header p{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;

}
nav{
    display: grid;  
    margin: 1em;
}
nav button{
    background-color: transparent;
    border-radius: 0;
    color: var(--main-color);
    font-size: 2rem;
    border-color: rgb(187, 187, 187);

}

nav ul{
    list-style-type: none;
    margin-left: -25%;
    display: none;
    background-color: var(--main-color);
    color: white;
}

nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 5%;
    border-top: 1px solid rgb(178, 178, 178);
}

nav ul li a:hover{
    background-color: white;
    color: var(--main-color);
    text-transform: uppercase;
}

nav ul.open{
    display: block;
    padding-right: 20%;
    
} 


a img{
    width: 70%;

}

h1{
    font-size: 20px;
    margin-left: 5%;
}

header .logo{
    margin-left: 5%;
}


.date{grid-column: 1 / span 5;
    grid-row: 3 / span 1;
text-align: center;
padding: 1em;
margin: .5em;
background-color: var(--second-color);
color: var(--third-color);
font-family: var(--paragraph-font);}

#hamburgerBtn span:nth-child(1){display: block;}
#hamburgerBtn span:nth-child(2){display: none;}

#hamburgerBtn.open span:nth-child(1){display: none;}
#hamburgerBtn.open span:nth-child(2){display: block;}

/* set fonts*/
h1, h2, h3, h4{
    font-family: var(--header-font);
}
p, a{
    font-family: var(--paragraph-font);
}


/* Here is the code for the main section */

main div p{
    color: var(--main-color);
    font-size: 14px;
}


.join{
    display: none;}



/*call to action section*/

.cta{
    margin-top: 2rem;
    margin-bottom: -8rem;
}
.cta img{
    width: 100%;
}

.cta h2{
    position: relative;
    top: -330px;
    right: -30px;
    font-size: 32px;
}

.cta button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 3%;
    font-family: var(--paragraph-font);
    font-size: 20px;
    border-radius: 15px;
    position: relative;
    width: auto;
    bottom: 215px;
    right: -220px;
}

.cta button:hover{
    background-color: var(--second-color);
    text-decoration: underline;
}


/* event section*/

.event{
    background-color: var(--third-color);
    margin-top: 2rem;
    padding: 2rem;
}

.event h2, .event p{
    text-align: center;
}

.event a{
    color: var(--second-color);
    display: block;
    text-align: center;
}

.event h3{
    text-align: center;
    color: var(--second-color);
}

.event img{
    width: 8rem;
    animation: spin 20s linear infinite;
    position: absolute;
    margin: -5% 0 10% -5%;
}
 
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
/*weather section*/
.weather{
padding: 2rem;
background-color: var(--third-color);
margin-top: 2rem;
margin: 3rem;
}

.weather img{
    width: 12rem;
}

.weather h2{
    text-align: center;
}

.innerweather{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: -2rem;
}
.innerweather h3{
    font-size: 32px;
    color: var(--second-color);
}

.weather p{
    text-align: right;
    font-size: 22px;
    border-bottom: solid 2px var(--main-color);
    padding-bottom: 1rem;
}

.weather ul{
    list-style-type: none;
    font-size: 18px;
}

.weatherbottom{
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.weatherbottom p{
    border-bottom: none;
    font-size: 18px;
    margin: auto;
}

/*news release section*/

.news{
    background-color: var(--third-color);
    padding: 2rem;
}

.news p, .news h2{
    text-align: center;
}

/*spotlight section*/

.spotlight{
    background-color: var(--main-color);
    margin-top: 3rem;
    padding: 1rem;
    margin-bottom: 3rem;
}
.spotlight1, .spotlight2, .spotlight3{
    padding: 1rem;
    margin: 2rem;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotlight img{
    width: 15rem;
    display: flex;
    margin-top: -2rem;
}

.spotlight h2{
    text-align: center;
}

.spotlight h3, .spotlight p{
    text-align: center;
    margin-top: auto;
}
.spotlight h3{
    border-bottom: solid 2px var(--main-color);
    padding-bottom: 1rem;
}

.spotlight3{
    display: none;
}

/* Here is the footer*/

footer{
    text-align: center;
    background-color: var(--main-color);
    color: white;
    padding: 5%;

}

footer .logo{
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
}

footer h5{
    font-size: 20px;
    margin-bottom: -2%;
}

footer .very-bottom{
    border-top: 1px solid white;
    font-size: 12px;
}
footer .very-bottom p:nth-child(2){
    font-weight: 700;
}