@media only screen and (min-width: 600px){



    /*--------Social media icons--------*/
    .socialmedia{
        flex-direction: column;
        align-items: flex-end;
        
    }

    .socialmedia img{
        width: 40px;
    }

    /*--------Home Grid--------*/

    .homeGrid{
        grid-template-rows: .5fr repeat(2, 0.5fr) .7fr;
    }

    /*--------Call to Action--------*/

    .cta{
        grid-column: 1 / span 1;
    }

    .circle{
        width: 500px;
        height: 500px;
        top: -2rem;
        right: -18rem;
    }


    .cta img:nth-of-type(1){
    top: -10rem;
    right: -6rem;
    width: 350px;
    }
    .cta img:nth-of-type(2){
        top: 20rem;
    right: -15rem;
    width: 350px;
    }

    .cta h1{
        top: -3rem;
        right: -23rem;
        font-size: 48px;
    }

    .cta button{
        top: 16rem;
        right: -20rem;
    }


    /*--------About Carlsbad--------*/

    .carlsbad{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        margin-top: 3rem;
    }

    .carlsbad p{
        font-size: 24px;
    }

    /*--------Weather--------*/

    .weather{
        grid-column: 2 / span 2;
        grid-row: 3 / span 1;
    }


    /*--------Drinks Made--------*/

    .arch{
        top: 3rem;
        right: -30rem;
    }

    .drinks img{
        top: 1rem;
        right: -35rem;
    }

    .drinks button{
        top: 27rem;
        right: -37rem;
    }

    .drinks h3{
        top: 4rem;
        right: -25rem;
        font-size: 48px;
    }

    .drinks h4{
        top: 1rem;
        right: -10rem;
       
    }

    .drinks h5{
        top: 18rem; 
        right: -10rem;
        font-size: 48px;
    }


    /*--------Contact us-------*/

    .contact {
        grid-row: 5 / span 1;
        grid-column: 1 / span 2;
        margin: 3rem 0;
    }


   
     /*--------FORM PAGE-------*/

     .fresh img{
        display: block;
        width: 100%;
        margin-top: 1rem;
        width: 100%;
        height: 96.2%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;

     }

     .fresh{
        display: grid;
        grid-template-columns: 1fr;
        margin: 2rem 2rem;
     }

     .freshForm{
        margin: 0 0 1rem 0;
        grid-row: 2 / span 1;
        border-radius: 0 0 20px 20px;
     }


     /*--------ABOUT PAGE--------*/

    /*--------history--------*/

    .aboutUs{
        order: 0;
    }

    .history{
        flex-direction: row;
    }

    .aboutUs h1{
        font-size: 42px;
    }

    .aboutUs p{
        font-size: 24px; 
    }


    marquee{
        font-size: 32px;}

/*--------Map and contact--------*/

.contactPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contactMethod h3{
    font-size: 56px;
}

.contactMethod p {
    font-size: 32px;
}

}