@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter+Tight:wght@300;600&display=swap');

$serif-font: 'Abril Fatface', cursive;
$sans-serif: 'Inter Tight', sans-serif;
$main-color: rgb(197, 168, 237);




html{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2{
    font-family:$serif-font;
}

p, li{
    font-family: $sans-serif;
}

ul{ font-weight: 600;}

header{
    display: flex;
    background-color: $main-color;
    padding: 1em;
    border-radius: 1em;
    img{
        height: 16em;
        border-radius: 1em;
    }
    h1{
        align-content: center;
        padding: 1em;
        align-self: center;
    }
}
