@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter+Tight:wght@300;500;600&display=swap");

:root {
  --dark-brown: #71543E;
  --cream-color: #F9F6E8;
  --green-color: #9DBF95;
}


html {
  padding: 1rem;
}

body {
  background-color: var(--cream-color);
}

h1, h2 {
  font-family: "Abril Fatface", cursive;
}

p, li {
  font-family: "Inter Tight", sans-serif;
}

ul {
  font-weight: 600;
  padding: 1rem;
  border-top: solid var(--green-color) 2px;
  border-bottom: solid var(--green-color) 2px;
  
}
ul a {
  color: var(--dark-brown);
  font-weight: 500;
}
ul a:hover {
  color: var(--green-color);
  font-size: 2rem;
  font-weight: 600;
}

header {
  display: flex;
  background-color: var(--dark-brown);
  padding: 1em;
  border-radius: 1rem;
  box-shadow: 10px 5px 20px #D1C2B0;
}
header img {
  height: 13rem;
  border-radius: 1rem;
  width: auto;
}
header h1 {
  align-content: center;
  padding: 1rem;
  align-self: center;
  color: white;
}


footer {
  background-color: var(--dark-brown);
  padding: 1em;
  border-radius: 1rem;
  text-align: center;
  font-weight: 500;
  box-shadow: 10px 5px 20px #D1C2B0;
  color: white;
}


#last-update{
  color: var(--green-color);
  font-size: 1.3rem;
}